<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.fangqcloud.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="club.fangqcloud.pojo.User">
        <id column="userId" jdbcType="VARCHAR" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"></result>
        <result column="type" jdbcType="INTEGER" property="type"></result>
    </resultMap>



    <insert id="insert" parameterType="club.fangqcloud.pojo.User">
        insert into user(userId, userName, password, type, email)
        values(#{userId}, #{userName}, #{password}, #{type}, #{email})
    </insert>

    <select id="selectByCondition" parameterType="club.fangqcloud.pojo.User" resultMap="BaseResultMap">
        select * from user
        <where>
            <if test="userId != null and userId !=''">
                and userId = #{userId}
            </if>
            <if test="userName != null and userName !=''">
                and userName = #{userName}
            </if>
            <if test="password != null and password !=''">
                and password = #{password}
            </if>
        </where>
    </select>

    <select id="selectTeacherInfo" parameterType="String" resultType="Map">
        select userId, userName, password, type, email, teacher.teacherName, teacher.age, teacher.sex, teacher.classId
        from user, teacher
        where user.userId = teacher.teacherId and userId = #{userId}
    </select>

    <select id="selectStudentInfo" parameterType="String" resultType="Map">
        select userId, userName, password, type, email, student.studentName, student.sex, student.age, student.classId
        from user, student
        where user.userId = student.studentId and userId = #{userId}
    </select>

</mapper>